header {
    height: 70px;
}

header .search-bar {
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;
    margin: 0 13px;
}

header input {
    border: transparent;
    background-color: transparent;
    width: 90%;
}

ul {
    list-style: none;
    padding-left: 0;
}

aside {
    width: 160px;
    height: calc(100vh - 70px);
    flex-shrink: 0;
    background-image: url(img/sidebar-bg.png);
    background-size: cover;
    background-color: #051e34;
}

.ms-opacity-background:hover {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 15%;
    translate: 10px;
}

.logo-2 {
    display: none;
    height: 40px;
}

.ms-block {
    display: none;
}

main {
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

main .table button {
    border-color: #6c757d;
    border-radius: 5px;
    background-color: inherit;
    margin: 5px 4px;
}

main .table button:hover {
    background-color:rgba(108, 117, 125, 0.3);
}

.ms-50 {
    width: 50%;
}

.ms-info {
    background-color: #1b72e8;
}

.square {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms-tag-logo {
    height: 25px;
}

.ms-blue {
    background-color: #165bba;
}

#offcanvasRight {
    width: 50vw;
}

/*------------
  RESPONSIVE
------------*/
@media (max-width: 576px) {
    .delated {
        display: none;
    }
}

@media (max-width: 768px) {
    aside {
        width: 70px;
    }

    ul i {
        margin: 20px 0;
    }

    aside p {
        display: none;
    }

    .logo-boolean {
        display: none;
    }

    .logo-2 {
        display: block;
    }

    .ms-delated {
        display: none;
    }

    .ms-block {
        display: inline-block;
    }

    #offcanvasRight {
        width: 100vw;
    }
}  