header {
    height: 70px;
}

ul {
    list-style: none;
}

aside {
    width: 150px;
    height: calc(100vh - 70px);
    flex-shrink: 0;
    background-image: url(img/sidebar-bg.png);
    background-size: cover;
    background-color: #051e34;
}

.logo-2 {
    display: none;
    height: 40px;
}

@media (max-width: 768px) {
    aside {
        width: 70px;
    }

    ul i {
        margin: 10px -5px;
    }

    p {
        display: none;
    }

    .logo-boolean {
        display: none;
    }

    .logo-2 {
        display: block;
    }
}

main {
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.ms-info {
    background-color: #1b72e8;
}

.square {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms-tag-logo {
    height: 25px;
}

.ms-blue {
    background-color: #165bba;
}